@import '../../global';

#logo-icon {
    display: inline-flex;
    align-items: center;
    transition: transform 0.25s ease;

    & img{
        margin: 0 5px;
        background-clip: content-box;
        width: 2rem;
    }

    & h3 {
        color: #ff5500;
        font-size: 2rem;
        background: linear-gradient(276deg, rgba(255,85,0,1) 0%, rgba(157, 255, 66) 93%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    & h3:last-child {
        background: linear-gradient(276deg, rgb(157, 255, 66) 0%, rgba(255,85,0,1) 93%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover img{
        box-shadow: 0px 0px 10px 2px $black;
        transform: scale(1.1);
    }
}