@import '../../global.scss';

#carrinho-icon {
    position: relative;
    display: flex;
    cursor: pointer;

    &:hover p{
        transform: scale(1.3);
    }

    & p {
        position: absolute;
        bottom: 0;
        right: -0.75rem;

        display: flex;
        justify-content: center;align-items: center;

        background-color: $light-green;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        transition: transform 0.25s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
        }
    }
}