@import '../../global';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    top: 0;

    background-color: $black;
    width: 100%;
    height: 4rem;
    padding: 0 2rem;

    & a{
        color: #fff;
        transition: color 0.5s ease;

        &:hover {
            color: $light-green;
        }
    }

    & #search {
        display: inline-block;
        position: relative;
        width: 40vw;
        max-width: 40%;

        & input[type="search"] {
            width: 100%;
            height: 2.5rem;
            border: solid 1px;
            border-radius: .5rem;
            padding-left: 10px;
            outline: none;
        }

        & span {
            display: block;
            position: absolute;
            right: 5px;
            top: 8px;
        }
    }

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
}